.Frontend .Contact {
    section {
        .container {
            form {
                .submit {
                    margin-top: 20px;
                }
            }

            .ServiceBlock {
                .icon {
                    padding: 0;
                }

                .info {
                    align-items: center;
                    flex-direction: column;
                    justify-content: flex-start;

                    .text {
                        flex: 0 0 100%;
                        max-width: 100%;

                        .title,
                        .body {
                            text-align: center;
                        }
                    }
                }
            }

            iframe {
                width: 100%;
                height: 100%;
                background-color: var(--blue);
                border-radius: var(--border-radius);
            }
        }
    }
}

@media (min-width: 800px) {
    .Frontend .Contact {
        section {
            .container {
                form {
                    .submit {
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}

@media (min-width: 1280px) {
    .Frontend .Contact {
        section {
            .container {
                form {
                    .submit {
                        margin-top: 40px;
                    }
                }
            }
        }
    }
}