.Frontend .References {
    section {
        background-color: var(--white);

        &.about {
            img {
                margin-bottom: 20px;
            }

            p {
                ul {
                    margin: 0;
                    text-align: left;
                }
            }
        }

        &.team {
            background-repeat: repeat;
            background-position: center;
            background-color: var(--soft);
            background-image: url('/images/cta_bg.png');
        }
    }

    .TestimonyBlock {
        display: flex;
        align-items: center;
        flex-direction: column;

        .img {
            margin-bottom: 20px;
            transition: all .25s;

            div {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                transition: all .25s;
            }
        }

        .title {
            color: var(--green);
            margin-bottom: 10px;
            text-align: center;
            font-size: var(--block-font-size);
        }

        .body {
            font-size: 14px;
            color: var(--white);
            text-align: center;
            margin-bottom: 10px;
        }

        .name {
            font-size: 14px;
            color: var(--white);
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .company {
            font-size: 20px;
            font-weight: 800;
            color: var(--white);
            text-align: center;
            margin-bottom: 10px;
        }
    }
}

@media (min-width: 1000px) {
    .Frontend .References {
        section {
            &.about {
                img {
                    margin-bottom: 0;
                }
            }
        }
    }
}